<h1>Edit Post</h1>

<form
  action="/posts/<%= post.id %>?_method=PUT"
  method="POST"
  id="postEditForm"
  enctype="multipart/form-data"
>
  <div>
    <input
      type="text"
      name="post[title]"
      placeholder="Title"
      value="<%= post.title %>"
      required
    />
  </div>

  <div>
    <input
      type="text"
      name="post[price]"
      placeholder="Price"
      value="<%= post.price %>"
      required
    />
  </div>

  <div>
    <input
      type="file"
      id="imageUpload"
      accept="image/*"
      name="images"
      multiple
    />
    <div>
      <% post.images.forEach(function(image, i) { %>
      <div style="margin-bottom: 10px">
        <img
          src="<%= image.url %>"
          width="100"
          alt="Uploaded image <%= i + 1 %>"
        />
        <label for="image<%= i %>">
          <input
            type="checkbox"
            name="deleteImages[]"
            class="imageDeleteCheckbox"
            id="image<%= i %>"
            value="<%= image.public_id %>"
          />
          Delete this image
        </label>
      </div>
      <% }); %>
    </div>
  </div>

  <div>
    <textarea
      name="post[description]"
      placeholder="Description"
      rows="5"
      required
    >
<%= post.description %></textarea
    >
  </div>

  <div>
    <input
      type="text"
      name="post[location]"
      placeholder="Location"
      value="<%= post.location %>"
      required
    />
  </div>

  <button type="submit">Update Post</button>
  <button
    type="button"
    onclick="window.location.href='/posts/<%= post.id %>'"
    style="margin-left: 10px"
  >
    Cancel
  </button>

  <script>
    const postEditForm = document.getElementById("postEditForm");

    postEditForm.addEventListener("submit", function (event) {
      const imageUploads = document.getElementById("imageUpload").files.length;
      const existingImages = document.querySelectorAll(
        ".imageDeleteCheckbox"
      ).length;
      const checkedDeletions = document.querySelectorAll(
        ".imageDeleteCheckbox:checked"
      ).length;

      const resultingImageCount =
        existingImages - checkedDeletions + imageUploads;

      if (resultingImageCount > 4) {
        event.preventDefault();
        const excess = resultingImageCount - 4;
        alert(
          `You need to remove at least ${excess} more image${
            excess === 1 ? "" : "s"
          }!`
        );
      }
    });
  </script>
</form>
